@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
body {
  font-family: "Rubik", sans-serif; }

/* HEADER */
.menu-categories {
  background-color: #21c063;
  text-transform: uppercase; }
  .menu-categories a {
    color: #fff;
    font-weight: 500;
    font-size: 1rem; }

.menu-language {
  color: #323232; }

.user-options a {
  color: #323232;
  font-size: 0.875rem;
  font-weight: 500; }

.form-control {
  font-size: 0.875rem;
  border: none; }

.icon-shop {
  position: relative; }
  .icon-shop span {
    background-color: #323232;
    color: #fff;
    position: absolute;
    right: -6px;
    top: -4px;
    font-size: 10px;
    text-shadow: none;
    width: 1rem; }

.active {
  background-color: #fff; }
  .active a {
    color: #21c063; }
  .active::before {
    content: ' ';
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    /* Dot border */
    border-right: 5px dotted white;
    /* Offset radius  */
    left: -3px; }

/* PRODUCTOS */
.products-heading {
  font-size: 1.25rem;
  font-weight: 700;
  position: relative;
  color: #323232; }
  .products-heading::after {
    content: "";
    position: absolute;
    border: 0;
    top: 26px;
    left: 1px;
    height: 5px;
    background-color: #21c063;
    width: 43px;
    margin-left: 0px;
    border-radius: 5px; }

.btn-outline-success,
.btn-success {
  border-radius: 22px;
  font-weight: 500;
  padding: 0 1em 0 1em; }

.btn-success {
  text-transform: uppercase;
  font-size: 0.875rem; }

.mx-6 {
  margin: 0 8vw 0 8vw; }

.card {
  border-radius: 6px;
  box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.4);
  color: #616783; }
  .card-img-top {
    z-index: 1; }
  .card-title {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0; }
  .card-text, .card-price {
    font-weight: 500; }
  .card-input-outline {
    background-color: #fff;
    border: 1px solid #21c063;
    color: #616783;
    border-radius: 2rem; }
  .card-price {
    font-size: 1.25rem; }

.badge-secondary {
  background-color: #f4f4f4;
  color: #616783;
  width: fit-content;
  margin: 0.5rem 0 0 0.5rem;
  z-index: 2; }

.badge-pill {
  background-color: #fff;
  border: 1px solid #21c063;
  color: #616783; }
