 /* HEADER */
 
 .menu-categories {
     background-color: $color-green;
     text-transform: uppercase;
     & a {
         color: $color-white;
         font-weight: 500;
         font-size: $font-size-14;
     }
 }
 
 .menu-language {
     color: $color-black;
 }
 
 .user-options a {
     color: $color-black;
     font-size: $font-size-14;
     font-weight: 500;
 }
 
 .form-control {
     font-size: $font-size-14;
     border: none;
     font-weight: 700;
 }
 
 .search {
     font-size: $font-size-14;
 }
 
 .icon-shop {
     position: relative;
     & span {
         background-color: $color-black;
         color: $color-white;
         position: absolute;
         right: -6px;
         top: -4px;
         font-size: 10px;
         text-shadow: none;
         width: 1rem;
     }
 }
 
 .active {
     background-color: $color-white;
     & a {
         color: $color-green;
     }
     &::before {
         content: ' ';
         width: 0;
         height: 100%;
         position: absolute;
         top: 0;
         /* Dot border */
         border-right: 5px dotted white;
         /* Offset radius  */
         left: -3px;
     }
 }
 /* PRODUCTOS */
 
 .products-heading {
     font-size: $font-size-20;
     font-weight: 700;
     position: relative;
     color: $color-black;
     &::after {
         content: "";
         position: absolute;
         border: 0;
         top: 26px;
         left: 1px;
         height: 5px;
         background-color: $color-green;
         width: 43px;
         margin-left: 0px;
         border-radius: 5px;
     }
 }
 
 .btn-outline-success,
 .btn-success {
     border-radius: 22px;
     font-weight: 500;
     padding: 0 1em 0 1em;
 }
 
 .btn-success {
     text-transform: uppercase;
     font-size: $font-size-14;
 }
 
 .mx-6 {
     margin: 0 8vw 0 8vw;
 }
 
 .card {
     border-radius: 6px;
     box-shadow: 0 0 8px -2px rgba(0, 0, 0, .4);
     color: $color-grey-items;
     &-img-top {
         z-index: 1;
     }
     &-title {
         font-weight: 400;
         font-size: $font-size-16;
         margin-bottom: 0;
     }
     &-text,
     &-price {
         font-weight: 500;
     }
     &-input-outline {
         @include outline;
         border-radius: 2rem;
     }
     &-price {
         font-size: $font-size-20;
     }
 }
 
 .badge-secondary {
     background-color: $color-grey;
     color: $color-grey-items;
     width: fit-content;
     margin: 0.5rem 0 0 0.5rem;
     z-index: 2;
     font-weight: 500;
 }
 
 .badge-pill {
     @include outline;
 }