/* Colores:
verde: #21c063
gris: #f4f4f4
negro: #323232
Gris items: #616783

Tamaño fuentes:
12px;
14px;
16px;
20px;


Item producto, sombra y borde:
 border-radius: 6px;
 box-shadow: 0 0 8px -2px rgba(0, 0, 0, .4); */
