:root {
    --green: #21c063;
    --black: #323232;
    --grey: #f4f4f4;
    --grey-items: #616783;
    --white: #fff;
    --font-family-body: 'Rubik', sans-serif;
    --font-size-12: 0.75rem;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --font-size-20: 1.25rem;
}

body {
    font-family: var(--font-family-body);
}

.nav {
    background-color: var(--green);
    text-transform: uppercase;
}

.nav a {
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    color: var(--black);
}

h2::after {
    content: "";
    position: absolute;
    border: 0;
    top: 26px;
    left: 1px;
    height: 5px;
    background-color: var(--green);
    width: 43px;
    margin-left: 0px;
    border-radius: 5px;
}

.btn-outline-success {
    border-radius: 22px;
    font-weight: 500;
    padding: 0 1em 0 1em;
}